:root {
  --blue: rgb(240, 216, 79);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  background: var(--blue);
  padding: 0 1em;
}

header > .logo {
  font-size: 1.5rem;
  color: #FFF;
  padding: 0 .5em;
  outline: auto;
  /* border-radius: .3em; */
  /* margin: 0; */
}

.toggle > img {
  width: 20px;

  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem 2rem;
}

.toggle > img:first-child {
  width: 25px;
  margin-right: 1.5rem;
}

.toggle > img:last-child {
  z-index: 1;
  margin: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  text-transform: capitalize;
  font-weight: 600;
  background: var(--blue);
}

a:hover,
a:focus {
  border-bottom: 2px solid white;
}

.hide {
  display: none;
}

.active {
  color: #FFF;
}

@media (min-width: 500px) {
  header {
    padding: 0 2em;
  }

  header > .menu {
    font-size: 1.5rem;
  }

  .toggle > img {
    width: 30px;
  }

  .toggle > img:first-child {
    width: 30px;
    margin: 1.5em;
  }
}

@media (min-width: 800px) {
  header > .logo {
    font-size: 2rem;
  }

  .toggle > img:first-child {
    width: 40px;
    margin: 2em;
  }
}

@media (min-width: 1200px) {
  header {
    justify-content: space-between;
    padding: 0 4em;
  }

  .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    background: none;
    margin: 0;
  }

  .menu > a {
    font-size: 1.2rem;
    border-bottom-color: #FFF;
  }

  .menu > a:hover {
    color: #FFF;
  }

  .toggle {
    display: none;
  }
}